main {
    margin: 40px;
    margin-top: 0px;
    font-family: "Helvetica" sans-serif;
}

.header {
    margin: 40px;
    margin-top: 50px;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 20px;;
    border-bottom: 2px solid black;
}

.navbar {
    font-size: 14px;
    display: inline-block;
    padding-left: 80px;

}

.navbar a {
    justify-content: space-between;
    padding-left: 25px;
    text-decoration: none;
    color: lightgreen;
    padding-right: 0px, 100px;
}